<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{../css/style.css}" type="text/css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav nav-fill">

            <li class="nav-item">
                <a class="nav-link" href="/">CARS LISTING</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/addCategory">ADD CATEGORY</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/addCar">ADD CAR</a>
            </li>
        </ul>
    </div>
</nav>

<div class="jumbotron">
    <h1 style="text-align: center;">Thrifty Dealers</h1>
</div>
<div class="container">
<form action="#" th:action="@{/processCar}" th:object="${car}" class="form-group" method="post" enctype="multipart/form-data">
    <input type="hidden" th:field="*{id}" />

    <div class="form-group">
    <label>Manufacturer</label>
    <input type="text" class="form-control" th:field="*{manufacturer}"/><br />

    <label>Model</label>
    <input type="text" class="form-control" th:field="*{model}"/><br />

    <label>Year</label>
    <input type="text" class="form-control" th:field="*{year}"/><br />

    <label>MSRP</label>
    <input type="text" class="form-control" th:field="*{MSRP}"/><br />

    <label>Category</label>
        <select th:field="*{category}" class="form-control" placeholder="Select Category">

            <option value="" disabled selected>Select Category</option>
            <option th:each="category: ${categories}"
                    th:value="${category.id}"
                    th:text="${category.name}">
            </option>

        </select>
        <br>

    <label>Upload Image</label>
        <input type="file" name="file" />
        <input type="hidden" th:field="*{pic}">
    <br>
    <input type="submit" value="Submit" />
    </div>
</form>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>